@model GorinGrain.ViewModels.ShipmentVM
@{
    ViewBag.Title = "AddShipment";
}
<style type="text/css">
    body {
        background-image: url(http://static1.squarespace.com/static/55b595d2e4b0cc4be26e07b8/55d13a44e4b05f1da673f893/5636d992e4b09ef9b62510cd/1459709463477/?format=1000w);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<h2>Add Shipment</h2>
@using (Html.BeginForm("AddShipment", "Shipment", FormMethod.Post))
{
    <!--define seperate text box, label, and entry validation for each item // form control makes boxes right size-->
    <div class="form-group">
        @Html.LabelFor(model => model.Shipment.LocationID)
        @Html.DropDownListFor(model => Model.Shipment.LocationID, Model.Shipment.LocationDDL)
        @Html.ValidationMessageFor(model => model.Shipment.LocationID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Shipment.ProducerID)
        @Html.DropDownListFor(model => Model.Shipment.ProducerID, Model.Shipment.ProducerDDL)
        @Html.ValidationMessageFor(model => model.Shipment.ProducerID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Shipment.Product)
        @Html.TextBoxFor(model => model.Shipment.Product, new { @class = "form-control", @placeholder = "Commodity name..." })
        @Html.ValidationMessageFor(model => model.Shipment.Product, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Shipment.QuantityInBu)
        @if (Model.Shipment.QuantityInBu == 0)
        {
            @Html.TextBoxFor(model => model.Shipment.QuantityInBu, "", new { @class = "form-control", @placeholder = "Quantity (bu)...", @Value = "" })
        }
        else
        {
            @Html.TextBoxFor(model => model.Shipment.QuantityInBu, "", new { @class = "form-control", @placeholder = "Quantity (bu)..." })
        }
        @Html.ValidationMessageFor(model => model.Shipment.QuantityInBu, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Shipment.PricePerBushel)
        @Html.TextBoxFor(model => model.Shipment.PricePerBushel, "", new { @class = "form-control", @placeholder = "$ per Bu..." })
        @Html.ValidationMessageFor(model => model.Shipment.PricePerBushel, "", new { @class = "text-danger" })
    </div>

    <!--spot for error message, if needed-->
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.Shipment, Model.ErrorMessage, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <!--button to submit form-->
        <input class="btn btn-success" type="submit" value="submit" style="background-color:blue"/>
    </div>



}

